Port 22
ListenAddress 0.0.0.0
Protocol 2
PermitRootLogin no
PasswordAuthentication yes
PubkeyAuthentication yes
KbdInteractiveAuthentication no
UsePAM no
PermitEmptyPasswords no
AuthorizedKeysFile .ssh/authorized_keys
X11Forwarding no
AllowTcpForwarding no
PrintMotd no
ClientAliveInterval 120
ClientAliveCountMax 2
MaxAuthTries 5
